In [1]:
# project: p12
# submitter: ashik
# partner: None
# hours: 8

In [2]:
import os
import json
import requests
import pandas as pd

from bs4 import BeautifulSoup

In [3]:
# Functions to write a file and to read a file

def write_file(path, data):
    '''This function writes the data into a file at given path'''
    with open(path, 'w', encoding="utf-8") as f:
        f.write(data)
        
def read_file(path):
    '''This function reads data from the file at the given path'''
    with open(path, 'r', encoding="utf-8") as f:
        content = f.read()
        return content 
    
# Functions to write a json file and to read a json file

def write_json(path, data):
    '''This function writes the json data into a json file at given path'''
    with open(path, 'w', encoding="utf-8") as f:
        json.dump(data, f, indent=2)
        
def read_json(path):
    '''This function reads the json data from the json file at given path'''
    with open(path, encoding="utf-8") as f:
        return json.load(f)

In [4]:
# Using Download function from lab12

def download(filename, url):
    '''This function downloads the data from the given url
       into a file with the filename provided'''
    if os.path.exists(str(filename)):
        return str(filename) + " already exists!"

    try:
        r = requests.get(url)
        r.raise_for_status()
        data_text = r.text
        
        write_file(str(filename), data_text)
        
    except requests.HTTPError as e:
        print("oops!!", e)
               
    return str(filename) + " created!"

In [5]:
# Downloading rankings.json from the given url

rank_url = "https://raw.githubusercontent.com/msyamkumar/cs220-s22-projects/main/p12/rankings.json"

download("rankings.json", rank_url)

# Converting data from the downloaded file into a DataFrame called rankings

rankings = pd.read_json("rankings.json")

rankings

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
0,1,2019-2020,Harvard University,USA,1,2.0,1.0,1.0,1.0,100.0
1,2,2019-2020,Massachusetts Institute of Technology,USA,2,1.0,10.0,2.0,5.0,96.7
2,3,2019-2020,Stanford University,USA,3,9.0,3.0,3.0,2.0,95.2
3,4,2019-2020,University of Cambridge,United Kingdom,1,4.0,19.0,5.0,11.0,94.1
4,5,2019-2020,University of Oxford,United Kingdom,2,10.0,24.0,10.0,4.0,93.3
...,...,...,...,...,...,...,...,...,...,...
5995,1996,2021-2022,Santa Catarina State University,Brazil,56,NaN,936.0,NaN,1938.0,65.8
5996,1997,2021-2022,Yancheng Institute of Technology,China,275,NaN,NaN,NaN,1920.0,65.7
5997,1998,2021-2022,Xi'an University of Science and Technology,China,276,NaN,994.0,NaN,1937.0,65.7
5998,1999,2021-2022,CEU San Pablo University,Spain,53,NaN,568.0,NaN,1992.0,65.7
5999,2000,2021-2022,Huzhou University,China,277,NaN,NaN,NaN,1922.0,65.7

In [6]:
#Q1: How many countries do we have in our dataset?

unique_countries = pd.Series(rankings['Country'].unique())

num_of_unique_countries = len(unique_countries)

num_of_unique_countries

103

In [7]:
#Q2: Generate a pandas DataFrame containing all the statistics of the highest-ranked institution 
#based on "World Rank" (Note: highest rank is 1).

rank_1 = rankings[rankings['World Rank'] == 1]

rank_1

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
0,1,2019-2020,Harvard University,USA,1,2.0,1.0,1.0,1.0,100.0
2000,1,2020-2021,Harvard University,USA,1,3.0,1.0,1.0,1.0,100.0
4000,1,2021-2022,Harvard University,USA,1,1.0,1.0,1.0,1.0,100.0

In [8]:
#Q3: Generate a pandas DataFrame containing all the statistics of "University of Wisconsin–Madison".

uw_madison = rankings[rankings['Institution'] == 'University of Wisconsin–Madison']

uw_madison

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
24,25,2019-2020,University of Wisconsin–Madison,USA,19,28.0,80.0,35.0,27.0,87.3
2025,26,2020-2021,University of Wisconsin–Madison,USA,20,34.0,93.0,34.0,31.0,87.2
4024,25,2021-2022,University of Wisconsin–Madison,USA,19,33.0,97.0,29.0,32.0,87.3

In [9]:
#Q4: What is the "National Rank" of the "University of Wisconsin–Madison" in the year 2021-2022?

rank_in_21_22 = uw_madison[uw_madison['Year'] == '2021-2022'].iloc[0]['National Rank']

rank_in_21_22

19

In [10]:
#Q5: What is the average score of the "University of Wisconsin–Madison"?

uw_score = uw_madison['Score']

avg_score = uw_score.mean()

avg_score

87.26666666666667

In [11]:
#Q6: Generate a pandas dataframe containing all the statistics of universities 
#from Singapore in the year 2020-2021.

singapore_univs_in_20_21 = rankings[(rankings['Country'] == 'Singapore') \
                                    & (rankings['Year'] == '2020-2021')]

singapore_univs_in_20_21

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
2094,95,2020-2021,National University of Singapore,Singapore,1,330.0,165.0,NaN,41.0,82.0
2139,140,2020-2021,Nanyang Technological University,Singapore,2,NaN,996.0,NaN,75.0,80.3
3150,1151,2020-2021,Singapore University of Technology and Design,Singapore,3,NaN,NaN,NaN,1092.0,69.4
3286,1287,2020-2021,Singapore Management University,Singapore,4,NaN,NaN,NaN,1225.0,68.7

In [12]:
#Q7: In the year 2019-2020, what was the highest-ranked institution in Germany?

german_best = rankings[(rankings['Country'] == 'Germany') & (rankings['Year'] == '2019-2020') & \
                       (rankings['National Rank'] == 1)]

german_best.iloc[0]['Institution']

'Ludwig Maximilian University of Munich'

In [13]:
#Q8: In the year 2019-2020, list all the institutions in the USA 
#ranked better than the highest-ranked institution in Germany.

german_best_rank = int(german_best.iloc[0]['World Rank'])

top_usa_univs = rankings[(rankings['Country'] == 'USA') & (rankings['Year'] == '2019-2020') & \
                     (rankings['World Rank'] < german_best_rank)]
 
top_usa_univs.Institution.tolist()

['Harvard University',
 'Massachusetts Institute of Technology',
 'Stanford University',
 'Columbia University',
 'Princeton University',
 'University of California, Berkeley',
 'University of Pennsylvania',
 'University of Chicago',
 'California Institute of Technology',
 'Yale University',
 'Cornell University',
 'Northwestern University',
 'University of California, Los Angeles',
 'University of Michigan, Ann Arbor',
 'Johns Hopkins University',
 'University of Washington - Seattle',
 'University of Illinois at Urbana–Champaign',
 'Duke University',
 'University of Wisconsin–Madison',
 'New York University',
 'University of California San Diego',
 'University of Texas at Austin',
 'University of California, San Francisco',
 'University of North Carolina at Chapel Hill',
 'University of Minnesota - Twin Cities',
 'University of Texas Southwestern Medical Center',
 'Washington University in St. Louis',
 'University of Southern California',
 'Brown University',
 'Vanderbilt University',
 'Pennsylvania State University',
 'Rutgers University–New Brunswick',
 'Dartmouth College',
 'University of California, Davis']

In [14]:
#Q9: What is the highest-ranked institution based on “Quality of Education Rank” 
#in China for the year 2021-2022?

china_univs = rankings[(rankings['Country'] == 'China') \
                       & (rankings['Year'] == '2021-2022')]

sorted_china_univs = china_univs.sort_values(by = 'Quality of Education Rank')

highest_quality_rank = sorted_china_univs.iloc[0]['Institution']

highest_quality_rank

'Fudan University'

In [15]:
#Q10: What are the top five highest-ranked institutions based on 
#"Research Performance Rank" in India for the year 2020-2021?

india_univs = rankings[(rankings['Country'] == 'India') \
                       & (rankings['Year'] == '2020-2021')]

sorted_india_univs = india_univs.sort_values(by = 'Research Performance Rank')

highest_research_rank = sorted_india_univs.Institution.tolist()[:5]

highest_research_rank

['Indian Institute of Science',
 'Tata Institute of Fundamental Research',
 'Indian Institute of Technology Bombay',
 'University of Delhi',
 'Indian Institute of Technology Madras']

In [29]:
#Q11: How many institutions have rankings for all three years?

year_2019_ranking_df = rankings[rankings["Year"] == "2019-2020"]
year_2020_ranking_df = rankings[rankings["Year"] == "2020-2021"]
year_2021_ranking_df = rankings[rankings["Year"] == "2021-2022"]

set_2019_ranking = set(year_2019_ranking_df.Institution)
set_2020_ranking = set(year_2020_ranking_df.Institution)
set_2021_ranking = set(year_2021_ranking_df.Institution)
 
institution_2019_2020_2021 = set_2019_ranking.intersection(set_2020_ranking, set_2021_ranking)

len(institution_2019_2020_2021)

1856

In [17]:
# Data Structure Requirement

institutions = []

for institution in institution_2019_2020_2021:
    
    year_2019_ranking = rankings[(rankings['Institution'] == institution) \
                                 & (rankings['Year'] == '2019-2020')].iloc[0]['World Rank']
    year_2020_ranking = rankings[(rankings['Institution'] == institution) \
                                 & (rankings['Year'] == '2020-2021')].iloc[0]['World Rank']
    year_2021_ranking = rankings[(rankings['Institution'] == institution) \
                                 & (rankings['Year'] == '2021-2022')].iloc[0]['World Rank']

    institution_info = {}
    
    institution_info['Institution'] = institution
    institution_info['2019_ranking'] = year_2019_ranking
    institution_info['2020_ranking'] = year_2020_ranking
    institution_info['2021_ranking'] = year_2021_ranking

    institutions.append(institution_info)

institutions_df = pd.DataFrame(institutions)

In [18]:
#Q12: Between the years 2019-2020 and 2021-2022, list the institutions which have seen an 
#improvement in their "World Rank" by more than 500 ranks.

institutions_df['rank_diff'] = institutions_df['2019_ranking'] - institutions_df['2021_ranking']

improved_institutions_df = institutions_df[institutions_df['rank_diff'] > 500]

improved_institutions = improved_institutions_df.Institution.tolist()

improved_institutions

['USI - University of Italian Speaking Switzerland',
 'Academy of Scientific & Innovative Research',
 'Tôn Đức Thắng University',
 'Haverford College',
 'Federal University of Mato Grosso do Sul',
 'SOAS University of London',
 'École nationale supérieure de chimie de Montpellier',
 'International Institute for Management Development',
 'Antioch College']

In [19]:
#Q13: Between the years 2019-2020 and 2021-2022, which institution had 
#the largest change in its "World Rank"?

institutions_df['absolute_diff'] = abs(institutions_df['2019_ranking'] \
                                       - institutions_df['2021_ranking'])

max_abs_diff = institutions_df['absolute_diff'].max()

institutions_df[institutions_df['absolute_diff'] == max_abs_diff].iloc[0]['Institution']

'USI - University of Italian Speaking Switzerland'

In [20]:
#Q14: For all the three years, find the number of institutions 
#that improved their World Rank each year.
 
institutions_df['rank_diff_19_20'] = institutions_df['2019_ranking'] \
                                        - institutions_df['2020_ranking']

institutions_df['rank_diff_20_21'] = institutions_df['2020_ranking'] \
                                        - institutions_df['2021_ranking']

gradual_improved_institutions = institutions_df[(institutions_df['rank_diff_19_20'] > 0) \
                                                & (institutions_df['rank_diff_20_21'] > 0)]

len(gradual_improved_institutions)

451

In [21]:
#Q15: In the year 2020-2021, list the institutions which are within the top 10 in the world
#based on "Alumni Employment Rank" but do not feature in the top 10 of the world ranking.

top_10_alumni_rank_df = year_2020_ranking_df.sort_values('Alumni Employment Rank').head(10)

top_10_world_rank_df = year_2020_ranking_df.sort_values('World Rank').head(10)

set_alumni_rank = set(top_10_alumni_rank_df.Institution)

set_world_rank = set(top_10_world_rank_df.Institution)

set_both_ranks = list(set_alumni_rank - set_world_rank)

set_both_ranks

['University of Tokyo',
 'HEC Paris',
 'Institut Polytechnique de Paris',
 'INSEAD',
 'China Europe International Business School',
 "École nationale d'administration",
 'International Institute for Management Development']

In [22]:
#Q16: List the universities which ranked in the top 100 of world rankings in the year 2019-2020
#but failed to do so in the rankings of year 2021-2022.

top_100_2019 = []
top_100_2021 = []

for i in range(100):
    institution_2019 = year_2019_ranking_df.iloc[i]['Institution']
    institution_2021 = year_2021_ranking_df.iloc[i]['Institution']
    
    top_100_2019.append(institution_2019)
    top_100_2021.append(institution_2021)

set_top_100_2019 = set(top_100_2019)
set_top_100_2021 = set(top_100_2021)

top_100_both_years = list(set_top_100_2019 - set_top_100_2021)

top_100_both_years

['Paris-Sud University',
 'Tufts University',
 'University of Utah',
 'Emory University',
 'University of Groningen',
 'Aarhus University',
 'University of Texas MD Anderson Cancer Center',
 'University of California San Diego',
 'École Polytechnique',
 'Paris Diderot University',
 'École normale supérieure',
 'École Polytechnique Fédérale de Lausanne']

In [23]:
#Q17: List the countries which have at least 10 institutions featuring in the 
#top 100 of world rankings in the year 2020-2021.

top_100_in_20_21_df = rankings[(rankings['World Rank'] <= 100) & (rankings['Year'] == "2020-2021")]

countries_count = top_100_in_20_21_df["Country"].value_counts()

countries_over_10_institutions = countries_count[countries_count >= 10].index.tolist()

countries_over_10_institutions

['USA', 'United Kingdom']

In [24]:
url_1 = "https://raw.githubusercontent.com/msyamkumar/cs220-s22-projects/main/p12/2019-2020.html"
url_2 = "https://raw.githubusercontent.com/msyamkumar/cs220-s22-projects/main/p12/2020-2021.html"
url_3 = "https://raw.githubusercontent.com/msyamkumar/cs220-s22-projects/main/p12/2021-2022.html"

download('2019-2020.html', url_1)
download('2020-2021.html', url_2)
download('2021-2022.html', url_3)

'2021-2022.html already exists!'

In [25]:
#Q18: Use BeautifulSoup to parse 2019-2020.html, and find the table containing the ranking data. 
#What are the column names of this table?

content_2019_2020 = read_file("2019-2020.html")

bs_obj = BeautifulSoup(content_2019_2020, "html.parser")

table = bs_obj.find('table')

column_names = [th.get_text() for th in table.find_all("th")]

column_names

['World Rank',
 'Institution',
 'Country',
 'National Rank',
 'Quality of Education Rank',
 'Alumni Employment Rank',
 'Quality of Faculty Rank',
 'Research Performance Rank',
 'Score']

In [26]:
#Q19: Parse the contents of the table you found in 2019-2020.html 
#and represent it as a list of dicts. What are the first 5 dictionaries in the list?

def parse_html(filename):
    '''This function parses an HTML file and returns 
    a list of dictionaries containing the tabular data'''
    
    file_content = read_file(filename)
    
    bs_object = BeautifulSoup(file_content, "html.parser")
    
    table_tag = bs_object.find('table')
    
    header = [th.get_text() for th in table_tag.find_all("th")]

    table_rows = table_tag.find_all("tr")

    rankings_list = []

    for table_row in table_rows[1:]:
        rankings_dict = {}

        row_data = table_row.find_all('td')

        year = "".join([v[:5] + str(int(v[:4]) + 1) for (k,v) in table_row.find('a').attrs.items()])

        for idx in range(len(row_data)):
            data = row_data[idx]
            val = data.get_text()

            rankings_dict["Year"] = year

            if header[idx] in ['Institution', 'Country']:
                rankings_dict[header[idx]] = val


            elif header[idx] == 'Score':
                rankings_dict[header[idx]] = float(val)

            else:
                if val != '-':
                    rankings_dict[header[idx]] = int(val)
                else:
                    rankings_dict[header[idx]] = None

        rankings_list.append(rankings_dict)
    
    return rankings_list

rankings_2019_2020 = parse_html("2019-2020.html")

rankings_2019_2020[:5]

[{'Year': '2019-2020',
  'World Rank': 1,
  'Institution': 'Harvard University',
  'Country': 'USA',
  'National Rank': 1,
  'Quality of Education Rank': 2,
  'Alumni Employment Rank': 1,
  'Quality of Faculty Rank': 1,
  'Research Performance Rank': 1,
  'Score': 100.0},
 {'Year': '2019-2020',
  'World Rank': 2,
  'Institution': 'Massachusetts Institute of Technology',
  'Country': 'USA',
  'National Rank': 2,
  'Quality of Education Rank': 1,
  'Alumni Employment Rank': 10,
  'Quality of Faculty Rank': 2,
  'Research Performance Rank': 5,
  'Score': 96.7},
 {'Year': '2019-2020',
  'World Rank': 3,
  'Institution': 'Stanford University',
  'Country': 'USA',
  'National Rank': 3,
  'Quality of Education Rank': 9,
  'Alumni Employment Rank': 3,
  'Quality of Faculty Rank': 3,
  'Research Performance Rank': 2,
  'Score': 95.2},
 {'Year': '2019-2020',
  'World Rank': 4,
  'Institution': 'University of Cambridge',
  'Country': 'United Kingdom',
  'National Rank': 1,
  'Quality of Education Rank': 4,
  'Alumni Employment Rank': 19,
  'Quality of Faculty Rank': 5,
  'Research Performance Rank': 11,
  'Score': 94.1},
 {'Year': '2019-2020',
  'World Rank': 5,
  'Institution': 'University of Oxford',
  'Country': 'United Kingdom',
  'National Rank': 2,
  'Quality of Education Rank': 10,
  'Alumni Employment Rank': 24,
  'Quality of Faculty Rank': 10,
  'Research Performance Rank': 4,
  'Score': 93.3}]

In [27]:
#Q20: Parse the contents of 2019-2020.html, 2020-2021.html, and 2021-2022.html 
#and combine them to create a file titled my_rankings.json.

rankings_2019_2020 = parse_html("2019-2020.html")

rankings_2020_2021 = parse_html("2020-2021.html")

rankings_2021_2022 = parse_html("2021-2022.html")

my_rankings = rankings_2019_2020 + rankings_2020_2021 + rankings_2021_2022

write_json("my_rankings.json", my_rankings)